.active>.page-link, .page-link.active{
    background-color: black !important;
    border: none !important;
    color: white !important;
}
.page-link{
    color: black !important;
}
.pagination{
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem gray !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.btn-change:hover{
 background-color: gray !important;
 border: none !important;
}
.resp_wrapper{
    width: 100%;
    overflow: scroll !important;
}
.table{
    min-width:768px !important ;
}
.brand-image{
    width: 70vw !important;
}

@media all and (min-width:992px) {
    .brand-image{
        width: 47vw !important;
    }
}